<p style="color: green"><%= notice %></p>

<% content_for :title, "Application credential proxy logs" %>

<h1>Application credential proxy logs</h1>

<div id="application_credential_proxy_logs">
  <% @application_credential_proxy_logs.each do |application_credential_proxy_log| %>
    <%= render application_credential_proxy_log %>
    <p>
      <%= link_to "Show this application credential proxy log", application_credential_proxy_log %>
    </p>
  <% end %>
</div>

<%= link_to "New application credential proxy log", new_application_credential_proxy_log_path %>
