<% content_for :title, "New application credential proxy log" %>

<h1>New application credential proxy log</h1>

<%= render "form", application_credential_proxy_log: @application_credential_proxy_log %>

<br>

<div>
  <%= link_to "Back to application credential proxy logs", application_credential_proxy_logs_path %>
</div>
