<% content_for :title, "Editing db scrapper" %>

<h1>Editing db scrapper</h1>

<%= render "form", db_scrapper: @db_scrapper %>

<br>

<div>
  <%= link_to "Show this db scrapper", @db_scrapper %> |
  <%= link_to "Back to db scrappers", db_scrappers_path %>
</div>
