<% content_for :title, "New db scrapper" %>

<h1>New db scrapper</h1>

<%= render "form", db_scrapper: @db_scrapper %>

<br>

<div>
  <%= link_to "Back to db scrappers", project_db_scrappers_path(project_id: @project_id) %>
</div>
