<%= render @db_scrapper %>

<div>
  <%= link_to "Edit this db scrapper", edit_db_scrapper_path(@db_scrapper) %> |
  <%= link_to "Back to db scrappers", project_db_scrappers_path(project_id: @project_id) %>

  <%= button_to "Destroy this db scrapper", @db_scrapper, method: :delete %>
</div>
