<% if current_user %>
    <nav>
        <%#= link_to 'edit User', edit_user_registration_path %>
        <%= button_to 'Sign Out', destroy_user_session_path, method: :delete%>
    </nav>
<% end %>
<h1>Welcome Signin User</h1>
<%= link_to "Projects", projects_path %>
<div>
    Hiii
</div>
<div class="flex items-center justify-between p-4 bg-zinc-900 text-white">
  Rails 8 + Tailwind v4
</div>

<script type="module">
import { customProxy } from "utils/customProxy";

async function search() {
  const serpApiKey = "<%= ENV['SERP_API'] %>";
  const serpUrl = "https://serpapi.com/search";
  const url = `${serpUrl}?q=test&api_key=${serpApiKey}`;

  await customProxy({
    is_proxy: true,
    cache_config: {
      chache_from: ["global", "personal"]
      cached_results: true, // or timeinSec
      share_my_results: false,
    },
    request_confi: {
      base_proxy_url: `${window.location.origin}/proxy`,
      proxy_app_key: "client-001",
    },
    response_config: {
      get_meta_details: false // if true you get extra data on response_metadata
    },

    requestFn: () => ({
      method: "GET",
      url
    }),

    onSuccess: (data) => console.log(data),
    onError: (err) => console.error(err)
  });
}
await search()
</script>