<% content_for :title, "New knowledge queryfier" %>

<h1>New knowledge queryfier</h1>

<%= render "form", knowledge_queryfier: @knowledge_queryfier %>

<br>

<div>
  <%= link_to "Back to knowledge queryfiers", project_knowledge_queryfiers_path %>
</div>
