<%= render @knowledge_queryfier %>

<div>
  <%= link_to "Edit this knowledge queryfier", edit_project_knowledge_queryfier_path(@knowledge_queryfier.project, @knowledge_queryfier) %> |
  <%= link_to "Back to knowledge queryfiers", project_knowledge_queryfiers_path(@knowledge_queryfier.project) %>

  <%= button_to "Destroy this knowledge queryfier", project_knowledge_queryfier_path(@knowledge_queryfier.project, @knowledge_queryfier), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
