<%= render @knowledge_queryfier %>

<div>
  <%= link_to "Edit this knowledge queryfier", edit_knowledge_queryfier_path(@knowledge_queryfier) %> |
  <%= link_to "Back to knowledge queryfiers", knowledge_queryfiers_path %>

  <%= button_to "Destroy this knowledge queryfier", @knowledge_queryfier, method: :delete %>
</div>
