<div id="<%= dom_id project %>">
    <li>
        <strong>Title:</strong>
        <ul><%= project.title %></ul>
    </li>
    <li>
        <strong>Desc:</strong>
        <ul><%= project.desc %></ul>
    </li>
</div>

<style>
    ul {
        margin: 0px;
    }
</style>